<div class="parallax-container">
  <div class="parallax" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://static.pexels.com/photos/35884/amazing-beautiful-beauty-blue.jpg) no-repeat center center fixed;">
    <h2 class="center" style="color: white; padding-top: 100px;">Newton Kiragu</h2>
  </div>
</div>

<div id="about" class="section scrollspy">
  <div class="container">
    <h4 class="center">About</h4>
    <p>Hi there. I am Newton, pleased to meet you. I am a fullstack web developer. That is to mean i am a programmer who focuses mostly on making websites
      <br>
      When I am not typing away on my keyboard, i am cooking, going for a walk and taking photographs.
      <br>I am passionate about technology and the greate changes it has brought to this world of ours. It is just amazing</p>
  </div>
</div>

<div id="skills" class="section scrollspy">
  <div class="container">

    <h4>I am Proficient in the following skills</h4>
    <% if @skills.any? %>
    <ul class="collection">
      <% @skills.each do |skill| %>
      <li class="collection-item avatar">
        <span class="card-title"><%= link_to skill.name, skill_path(skill) %></span>
        <% if skill.description? %>
        <p><%= skill.description %></p>
      <% else %>
        <p>No description</p>
        <% end %>
      </li>
      <% end %>
    </ul>
  <% else %>
    <h5>There are no skills yet</h5>
    <p><%= link_to "Add a new skill", new_skill_path %></p>
    <% end %>
  </div>
</div>

<div id="projects" class="section scrollspy">
  <div class="container">

    <h2 class="center">Projects</h2>
    <div class="row">
      <% if @projects.any? %>
      <% @projects.each do |project| %>
      <div class="col s4">
        <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
            <%= image_tag project.image.url, class: 'activator' %>

          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4"><%= project.name %>
              <i class="material-icons right">more_vert</i>
            </span>
            <p>
              <a href="#">This is a link</a>
            </p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><%= project.name %>
              <i class="material-icons right">close</i>
            </span>
            <p>Here is some more information about this product that is only revealed once clicked on.</p>
          </div>
        </div>
      </div>
      <% end %>
    <% else %>
      <h5>There are no Projects yet</h5>
      <p><%= link_to "Add a new project", skills_path %></p>
      <% end %>

    </div>
  </div>
</div>

<div class="parallax">

  <div id="contact" class="section scrollspy parallax center" style="background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://static.pexels.com/photos/35884/amazing-beautiful-beauty-blue.jpg) no-repeat center center fixed;">
    <div class="container">

      <h3>CONTACT ME</h3>
      <a href="mailto:karanunewton4@gmail.com">Karanunewton4@gmail.com</a>
      <div class="container">
        <div class="row contact-me">
          <div class="col md-3">
            <a href="https://twitter.com/KiraguNewton" target="_blank"><img src="http://icons.iconarchive.com/icons/emey87/social-button/64/twitter-icon.png" alt="twitter"></a>
          </div>
          <div class="col md-3">
            <a href="https://www.linkedin.com/in/newton-kiragu/" target="_blank"><img src="http://icons.iconarchive.com/icons/hopstarter/puck/64/Linked-In-icon.png" alt="linkedin"></a>
          </div>
          <div class="col md-3">
            <a href="https://github.com/newtonkiragu" target="_blank"><img src="http://icons.iconarchive.com/icons/limav/flat-gradient-social/64/Github-icon.png" alt="github"></a>
          </div>
        </div>
      </div>
      <div class="container">
        <p class="center">
          <%= link_to 'Add Reference', new_reference_path, class: 'btn black white-text waves-effect waves-light', remote: true, id: "add_reference" %>
        </p>
        <div class="references">
          <%= render 'references/reference' %>
        </div>
      </div>
    </div>
  </div>
</div>
